# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np


# Seu código aqui

dados = [-.08,-.27,.12,-.03,.26,.40,1.02]

AnomaliaTermica = pd.Series(dados)
AnomaliaTermica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui

indice = [1900,1920,1940,1960,1980,2000,2020]

AnomaliaTermica = pd.Series(dados, index=indice)
AnomaliaTermica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temperaturas = pd.Series(dic_temperaturas)
temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0    99.993518   95.306455   95.000895
1    96.888656  115.560620   84.007620
2    83.029090   91.450162  110.450052
3    91.268173  106.079956   87.067991
4   110.706960  107.218036  106.519389
5    77.687642   96.237039   98.625595
6   108.961184  105.011323   99.844200
7    99.921805   91.600831   97.526903
8   107.477285   77.815378  108.740217
9   102.155655  109.048167  101.105275
10  104.725168   95.990186   77.016498
11   96.952361  117.595967  110.640981
12   99.589818   98.295050  105.421882
13  117.189473  101.688532  101.481626
14   96.915903   92.516820   84.996421
15   96.790041   87.846762  104.407006
16  110.748360  100.902757   97.139866
17  101.006987  102.011564  113.128683
18   92.729652  103.095627  109.263445
19  101.921472   93.715562   91.586821

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui

dataframe_arr = pd.DataFrame(arr,
                      index=range(1,21,1),
                      columns=['x1','x2','x3'])
dataframe_arr

            x1          x2          x3
1    99.993518   95.306455   95.000895
2    96.888656  115.560620   84.007620
3    83.029090   91.450162  110.450052
4    91.268173  106.079956   87.067991
5   110.706960  107.218036  106.519389
6    77.687642   96.237039   98.625595
7   108.961184  105.011323   99.844200
8    99.921805   91.600831   97.526903
9   107.477285   77.815378  108.740217
10  102.155655  109.048167  101.105275
11  104.725168   95.990186   77.016498
12   96.952361  117.595967  110.640981
13   99.589818   98.295050  105.421882
14  117.189473  101.688532  101.481626
15   96.915903   92.516820   84.996421
16   96.790041   87.846762  104.407006
17  110.748360  100.902757   97.139866
18  101.006987  102.011564  113.128683
19   92.729652  103.095627  109.263445
20  101.921472   93.715562   91.586821

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui

dataframe_arr['media'] = (dataframe_arr['x1'] + dataframe_arr['x2'] + dataframe_arr['x3']) / 3
dataframe_arr

            x1          x2          x3       media
1    99.993518   95.306455   95.000895   96.766956
2    96.888656  115.560620   84.007620   98.818965
3    83.029090   91.450162  110.450052   94.976434
4    91.268173  106.079956   87.067991   94.805374
5   110.706960  107.218036  106.519389  108.148129
6    77.687642   96.237039   98.625595   90.850092
7   108.961184  105.011323   99.844200  104.605569
8    99.921805   91.600831   97.526903   96.349846
9   107.477285   77.815378  108.740217   98.010960
10  102.155655  109.048167  101.105275  104.103032
11  104.725168   95.990186   77.016498   92.577284
12   96.952361  117.595967  110.640981  108.396436
13   99.589818   98.295050  105.421882  101.102250
14  117.189473  101.688532  101.481626  106.786544
15   96.915903   92.516820   84.996421   91.476381
16   96.790041   87.846762  104.407006   96.347936
17  110.748360  100.902757   97.139866  102.930328
18  101.006987  102.011564  113.128683  105.382411
19   92.729652  103.095627  109.263445  101.696241
20  101.921472   93.715562   91.586821   95.741285

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui

dataframe_arr['log_med'] = np.log(dataframe_arr['media'])
dataframe_arr

            x1          x2          x3       media   log_med
1    99.993518   95.306455   95.000895   96.766956  4.572306
2    96.888656  115.560620   84.007620   98.818965  4.593290
3    83.029090   91.450162  110.450052   94.976434  4.553629
4    91.268173  106.079956   87.067991   94.805374  4.551826
5   110.706960  107.218036  106.519389  108.148129  4.683502
6    77.687642   96.237039   98.625595   90.850092  4.509211
7   108.961184  105.011323   99.844200  104.605569  4.650197
8    99.921805   91.600831   97.526903   96.349846  4.567986
9   107.477285   77.815378  108.740217   98.010960  4.585079
10  102.155655  109.048167  101.105275  104.103032  4.645381
11  104.725168   95.990186   77.016498   92.577284  4.528044
12   96.952361  117.595967  110.640981  108.396436  4.685795
13   99.589818   98.295050  105.421882  101.102250  4.616132
14  117.189473  101.688532  101.481626  106.786544  4.670832
15   96.915903   92.516820   84.996421   91.476381  4.516081
16   96.790041   87.846762  104.407006   96.347936  4.567966
17  110.748360  100.902757   97.139866  102.930328  4.634052
18  101.006987  102.011564  113.128683  105.382411  4.657596
19   92.729652  103.095627  109.263445  101.696241  4.621990
20  101.921472   93.715562   91.586821   95.741285  4.561650